body {
 background: rgb(0,0,0); /* Old browsers */
  background: -moz-linear-gradient(left,  rgba(0,0,0,1) 0%, rgba(69,72,77,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,1)), color-stop(100%,rgba(69,72,77,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  rgba(0,0,0,1) 0%,rgba(69,72,77,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  rgba(0,0,0,1) 0%,rgba(69,72,77,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  rgba(0,0,0,1) 0%,rgba(69,72,77,1) 100%); /* IE10+ */
  background: linear-gradient(to right,  rgba(0,0,0,1) 0%,rgba(69,72,77,1) 100%); /* W3C */


}
aside {
  height: 100vh;
  width: 25%;
  position: fixed;
  top:0;
  right:0
  bottom:0;
  background-color: #111111;
  float:left;
}
.container {
  float: left;
}
aside img {
  position: relative;
  top: 20%;

}
header {
  margin-left: 26%;
  width: 50%;
}
header h1 {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: 80px;
  background-color: rgb(250,250,250);
  line-height: 1.5em;
  border: 2px solid rgba(191, 191, 191, 0.6);
  margin: 1%;
  padding: 1%;
 -webkit-box-shadow: 1px 0px 6px 3px rgba(245,242,245,1);
-moz-box-shadow: 1px 0px 6px 3px rgba(245,242,245,1);
box-shadow: 1px 0px 6px 3px rgba(245,242,245,1);


}
nav {
  margin-top: 2%;
  margin-left: 1%;
  overflow: auto;
  padding: 1%;
  width: 95.6%;
  border: 2px solid rgba(191, 191, 191, 0.6);
  background-color: rgb(250,250,250);
  -webkit-box-shadow: 1px 1px 6px 2px rgba(245,242,245,1);
  -moz-box-shadow: 1px 1px 6px 2px rgba(245,242,245,1);
  box-shadow: 1px 1px 6px 2px rgba(245,242,245,1);


}
nav a {
  text-decoration: none;
  color: rgb(88, 88, 88);
  font-size: 25px;
  font-weight: bold;
  float: left;
  margin: 0 auto;
}
.menu a{
  margin-right: 5%;
}
.contact a{
  float: right;
  margin-left: 2%;
  margin-right: 2%;
}
article {
  clear:both;
  float: left;
  margin-left: 25%;
  padding-right: 1%;
  padding-left: 1%;
  padding-top: 1%;
  width: 50%;
}
article p {
  font-family: ‘Courier New’, Courier, monospace;
  text-indent: 40px;
}
article div h1 {
  font-family: 'Inconsolata';
  font-size:35px;
  font-weight: bold;
  padding-top: 2%;
  padding-bottom: 2%;
  text-align: center;
}
article div {
  background-color: rgb(250,250,250);
  margin: 1%;
  margin-bottom: 3%;
  line-height: 1.5em;
  border: 2px solid rgba(191, 191, 191, 0.6);
  padding: 2%;
  -webkit-box-shadow: 1px 1px 6px 2px rgba(245,242,245,1);
  -moz-box-shadow: 1px 1px 6px 2px rgba(245,242,245,1);
  box-shadow: 1px 1px 6px 2px rgba(245,242,245,1);
}

.spirit-animal img {
  float:right;
}


