body {
 background: rgb(0,0,0);
  background: -webkit-linear-gradient(left,  rgba(15,15,15,0.2) 0%, rgba(69,72,77,1) 100%);


}
aside {
  height: 100vh;
  width: 25%;
  position: fixed;
  top:0;
  right:0
  bottom:0;
  background-color: rgb(30,30,30);
  float:left;
}
.container {
  float: left;
}

aside img {
  position: relative;
  top: 20%;

}
header {
  margin-left: 26%;
  width: 50%;
}
header h1 {
  color: rgb(0,0,0);
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: 80px;
  background-color: rgb(250,250,250);
  line-height: 1.5em;
  border: 2px solid rgba(191, 191, 191, 0.6);
  margin: 1%;
  padding: 1%;
  box-shadow: 0px 0px 7px 3px rgba(125,124,125,1);


}
nav {
  margin-top: 2%;
  margin-left: 1%;
  overflow: auto;
  padding: 1%;
  width: 95.6%;
  border: 2px solid rgba(191, 191, 191, 0.6);
  background-color: rgb(250,250,250);
  box-shadow: 0px 0px 7px 3px rgba(125,124,125,1);


}
nav a {
  text-decoration: none;
  color: rgb(88, 88, 88);
  font-size: 25px;
  font-weight: bold;
  float: left;
  margin: 0 auto;
}
.menu a{
  margin-right: 5%;
}
.contact a{
  float: right;
  margin-left: 2%;
  margin-right: 2%;
}
article {
  clear:both;
  float: left;
  margin-left: 25%;
  padding-right: 1%;
  padding-left: 1%;
  padding-top: 1%;
  width: 50%;
}
article p {
  font-family: 'Roboto Slab', serif;
  text-indent: 40px;
  font-size: 17px;
  color: rgba(34, 34, 38, 1);
}
article div h1 {
  font-family: 'Inconsolata';
  font-size:35px;
  font-weight: bold;
  padding-top: 2%;
  padding-bottom: 3%;
  text-align: center;
}
article div {
  background-color: rgb(250,250,250);
  margin: 1%;
  margin-bottom: 3%;
  line-height: 2em;
  border: 2px solid rgba(191, 191, 191, 0.6);
  padding: 2%;
  box-shadow: 0px 0px 7px 3px rgba(125,124,125,1);
}

.spirit-animal img {
  float:right;
}


